.footer {
  height: 630px;
  position: relative;
  &__info {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 460px;
    height: 270px;
    background-color: $main-color;
    padding: 50px 68px 60px 68px;
  }
  &__addr {
    margin-bottom: 36px;
    font-size: 20px;
    line-height: 27px;
    font-weight: 500;
    text-align: center;
    color: #fff;
  }
  &__phone {
    display: block;
    margin-bottom: 38px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  &__social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: solid 2px #fff;
    border-radius: 100%;
    margin: 0 auto;
  }

}
